<%= render "properties/show/style" %>

<section class="cover"></section>

<div class="container">

  <section class="p-24 mt-4 mb-5">
    <h2 class="h1 text-primary text-right mb-4 px-4"><u><%= @property.name %></u></h2>
    <article class="property-description">
      <%= render "properties/show/description" %>
    </article>

    <article class="property-highlight">
      <%= render "properties/show/highlight" %>
    </article>
  </section>

  <section>
    <h2 class="h1 text-primary text-right mb-4 px-4"><u>Gallery</u></h2>
    <%= render "properties/show/slider", property: @property %>
  </section>
</div>