<%= render "properties/show/style", property: @property %>

<section class="cover container-fluid p-0 w-100"></section>

<div id="<%= dom_id @property %>-show" class="container">
  <section id="property-info" class="p-24 mt-4 mb-5">
    <h2 class="h1 text-primary text-right mb-4 px-4"><u><%= @property.name %></u></h2>
    <article id="property-description">
      <%= render "properties/show/description" %>
    </article>

    <article id="property-highlight">
      <%= render "properties/show/highlight" %>
    </article>
  </section>

  <% unless @property.photos.empty? %>
    <section id="property-gallery" class="mb-5">
      <h2 class="h1 text-primary text-right mb-4 px-4"><u>Gallery</u></h2>
      <%= render "properties/show/slider", property: @property %>
    </section>
  <% end %>
</div>